watch_file .tool-versions

use asdf
asdf_has python || asdf plugin-add python
asdf install

layout python-venv

has aws \
  || pipx install awscli
has pre-commit \
  || pipx install pre-commit
has detect-secrets \
  || pipx install detect-secrets
has ansible \
  || pipx install ansible==2.9.6

use pre-commit
