watch_file .tool-versions

use asdf
asdf_has python || asdf plugin-add python
asdf install

layout python-venv

has pre-commit \
  || pipx install pre-commit
has detect-secrets \
  || pipx install detect-secrets

use pre-commit
