---
extends: default
ignore: |
  .pre-commit-config.yaml
  .travis.yml

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  comments:
    require-starting-space: false
  document-start: disable
  line-length: disable
  new-line-at-end-of-file: disable
  truthy: disable
